{{- $src := .Get "src" -}}
{{- $title := .Get "title" -}}
{{- $poster := .Get "poster" -}}
{{- $width := .Get "width" -}}
{{- $height := .Get "height" -}}
{{- $preload := default "none" (.Get "preload") -}}
{{- $autoplay := .Get "autoplay" -}}
{{- $loop := .Get "loop" -}}
{{- $muted := .Get "muted" -}}

{{- if not $src -}}
<strong>video shortcode error: missing "src"</strong>
{{- else -}}
{{- if $title -}}
<p><strong>{{ $title }}</strong></p>
{{- end -}}

<video controls preload="{{ $preload }}" src="{{ $src }}"
    {{- with $poster }} poster="{{ . }}"{{ end }}
    {{- with $width }} width="{{ . }}"{{ end }}
    {{- with $height }} height="{{ . }}"{{ end }}
    {{- if $autoplay }} autoplay{{ end }}
    {{- if $loop }} loop{{ end }}
    {{- if $muted }} muted{{ end }}>
    Your browser does not support the video element.
</video>
{{- end -}}
